In [25]:
import warnings
warnings.simplefilter('ignore')

import pandas as pd

df = pd.read_csv('s3://ia-340-2025-fall-9874yay/Telemedicine_Use_in_the_Last_4_Weeks.csv')
df.head()

,Indicator,Group,State,Subgroup,Phase,Time Period,Time Period Label,Time Period Start Date,Time Period End Date,Value,Low CI,High CI,Confidence Interval,Quartile Range,Suppression Flag
0,Adults Who Had Appointment with Health Profess...,National Estimate,United States,United States,3.1,28,"Apr 14 - Apr 26, 2021",04/14/2021,04/26/2021,25.7,25.0,26.4,25.0 - 26.4,NaN,NaN
1,Adults Who Had Appointment with Health Profess...,By Age,United States,18 - 29 years,3.1,28,"Apr 14 - Apr 26, 2021",04/14/2021,04/26/2021,21.6,19.2,24.1,19.2 - 24.1,NaN,NaN
2,Adults Who Had Appointment with Health Profess...,By Age,United States,30 - 39 years,3.1,28,"Apr 14 - Apr 26, 2021",04/14/2021,04/26/2021,23.1,21.7,24.5,21.7 - 24.5,NaN,NaN
3,Adults Who Had Appointment with Health Profess...,By Age,United States,40 - 49 years,3.1,28,"Apr 14 - Apr 26, 2021",04/14/2021,04/26/2021,25.7,24.2,27.3,24.2 - 27.3,NaN,NaN
4,Adults Who Had Appointment with Health Profess...,By Age,United States,50 - 59 years,3.1,28,"Apr 14 - Apr 26, 2021",04/14/2021,04/26/2021,26.3,24.6,28.1,24.6 - 28.1,NaN,NaN

In [26]:
df.shape

(3344, 15)

In [29]:
df['Value']

0       25.7
1       21.6
2       23.1
3       25.7
4       26.3
        ...
3339    18.8
3340    18.9
3341     NaN
3342    13.8
3343    10.7
Name: Value, Length: 3344, dtype: float64

In [31]:
df.sort_values(by='Time Period')

,Indicator,Group,State,Subgroup,Phase,Time Period,Time Period Label,Time Period Start Date,Time Period End Date,Value,Low CI,High CI,Confidence Interval,Quartile Range,Suppression Flag
1942,Households With Children Where Any Child Had A...,By Health insurance of adult respondent,United States,Private only,-1.0,1,"Oct 12 - Nov 30, 2021",10/12/2021,11/30/2021,NaN,NaN,NaN,NaN,NaN,NaN
1943,Households With Children Where Any Child Had A...,By Health insurance of adult respondent,United States,Any public,-1.0,1,"Oct 12 - Nov 30, 2021",10/12/2021,11/30/2021,NaN,NaN,NaN,NaN,NaN,NaN
1948,Households With Children Where Any Child Had A...,By Total household income,United States,"$50,000 - $74,999",-1.0,1,"Oct 12 - Nov 30, 2021",10/12/2021,11/30/2021,NaN,NaN,NaN,NaN,NaN,NaN
1949,Households With Children Where Any Child Had A...,By Total household income,United States,"$75,000 - $99,999",-1.0,1,"Oct 12 - Nov 30, 2021",10/12/2021,11/30/2021,NaN,NaN,NaN,NaN,NaN,NaN
1950,Households With Children Where Any Child Had A...,By Total household income,United States,"$100,000 - $149,999",-1.0,1,"Oct 12 - Nov 30, 2021",10/12/2021,11/30/2021,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3321,Households With Children Where Any Child Had A...,By State,Nevada,Nevada,3.5,48,"Jul 27 - Aug 8, 2022",07/27/2022,08/08/2022,11.8,7.2,18.1,7.2 - 18.1,8.6-11.8,NaN
3322,Households With Children Where Any Child Had A...,By State,New Hampshire,New Hampshire,3.5,48,"Jul 27 - Aug 8, 2022",07/27/2022,08/08/2022,15.5,9.8,23.0,9.8 - 23.0,15.0-18.1,NaN
3323,Households With Children Where Any Child Had A...,By State,New Jersey,New Jersey,3.5,48,"Jul 27 - Aug 8, 2022",07/27/2022,08/08/2022,14.4,9.6,20.6,9.6 - 20.6,11.9-14.9,NaN
3276,Households With Children Where Any Child Had A...,By Race/Hispanic ethnicity of adult respondent,United States,"Non-Hispanic Black, single race",3.5,48,"Jul 27 - Aug 8, 2022",07/27/2022,08/08/2022,18.1,14.7,22.0,14.7 - 22.0,NaN,NaN
3324,Households With Children Where Any Child Had A...,By State,New Mexico,New Mexico,3.5,48,"Jul 27 - Aug 8, 2022",07/27/2022,08/08/2022,12.2,7.1,19.2,7.1 - 19.2,11.9-14.9,NaN

In [33]:
df[0:7]

,Indicator,Group,State,Subgroup,Phase,Time Period,Time Period Label,Time Period Start Date,Time Period End Date,Value,Low CI,High CI,Confidence Interval,Quartile Range,Suppression Flag
0,Adults Who Had Appointment with Health Profess...,National Estimate,United States,United States,3.1,28,"Apr 14 - Apr 26, 2021",04/14/2021,04/26/2021,25.7,25.0,26.4,25.0 - 26.4,NaN,NaN
1,Adults Who Had Appointment with Health Profess...,By Age,United States,18 - 29 years,3.1,28,"Apr 14 - Apr 26, 2021",04/14/2021,04/26/2021,21.6,19.2,24.1,19.2 - 24.1,NaN,NaN
2,Adults Who Had Appointment with Health Profess...,By Age,United States,30 - 39 years,3.1,28,"Apr 14 - Apr 26, 2021",04/14/2021,04/26/2021,23.1,21.7,24.5,21.7 - 24.5,NaN,NaN
3,Adults Who Had Appointment with Health Profess...,By Age,United States,40 - 49 years,3.1,28,"Apr 14 - Apr 26, 2021",04/14/2021,04/26/2021,25.7,24.2,27.3,24.2 - 27.3,NaN,NaN
4,Adults Who Had Appointment with Health Profess...,By Age,United States,50 - 59 years,3.1,28,"Apr 14 - Apr 26, 2021",04/14/2021,04/26/2021,26.3,24.6,28.1,24.6 - 28.1,NaN,NaN
5,Adults Who Had Appointment with Health Profess...,By Age,United States,60 - 69 years,3.1,28,"Apr 14 - Apr 26, 2021",04/14/2021,04/26/2021,27.6,25.9,29.4,25.9 - 29.4,NaN,NaN
6,Adults Who Had Appointment with Health Profess...,By Age,United States,70 - 79 years,3.1,28,"Apr 14 - Apr 26, 2021",04/14/2021,04/26/2021,28.7,26.9,30.5,26.9 - 30.5,NaN,NaN

In [37]:
df.set_index('Time Period Start Date',inplace=True) 
df.head()

,Indicator,Group,State,Subgroup,Phase,Time Period,Time Period Label,Time Period End Date,Value,Low CI,High CI,Confidence Interval,Quartile Range,Suppression Flag
Time Period Start Date,,,,,,,,,,,,,,
04/14/2021,Adults Who Had Appointment with Health Profess...,National Estimate,United States,United States,3.1,28,"Apr 14 - Apr 26, 2021",04/26/2021,25.7,25.0,26.4,25.0 - 26.4,NaN,NaN
04/14/2021,Adults Who Had Appointment with Health Profess...,By Age,United States,18 - 29 years,3.1,28,"Apr 14 - Apr 26, 2021",04/26/2021,21.6,19.2,24.1,19.2 - 24.1,NaN,NaN
04/14/2021,Adults Who Had Appointment with Health Profess...,By Age,United States,30 - 39 years,3.1,28,"Apr 14 - Apr 26, 2021",04/26/2021,23.1,21.7,24.5,21.7 - 24.5,NaN,NaN
04/14/2021,Adults Who Had Appointment with Health Profess...,By Age,United States,40 - 49 years,3.1,28,"Apr 14 - Apr 26, 2021",04/26/2021,25.7,24.2,27.3,24.2 - 27.3,NaN,NaN
04/14/2021,Adults Who Had Appointment with Health Profess...,By Age,United States,50 - 59 years,3.1,28,"Apr 14 - Apr 26, 2021",04/26/2021,26.3,24.6,28.1,24.6 - 28.1,NaN,NaN

In [45]:
df.loc['2021-12-05']

KeyError: '2021-12-05'

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3344 entries, 0 to 3343
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Indicator               3344 non-null   object
 1   Group                   3344 non-null   object
 2   State                   3344 non-null   object
 3   Subgroup                3344 non-null   object
 4   Phase                   3344 non-null   float64
 5   Time Period             3344 non-null   int64
 6   Time Period Label       3344 non-null   object
 7   Time Period Start Date  3344 non-null   object
 8   Time Period End Date    3344 non-null   object
 9   Value                   3104 non-null   float64
 10  Low CI                  3104 non-null   float64
 11  High CI                 3104 non-null   float64
 12  Confidence Interval     3104 non-null   object
 13  Quartile Range          2142 non-null   object
 14  Suppression Flag        52 non-null     float64
dtypes: float64(5), int64(1), object(9)
memory usage: 392.0+ KB

In [15]:
df.describe()

,Phase,Time Period,Value,Low CI,High CI,Suppression Flag
count,3344.000000,3344.000000,3104.000000,3104.000000,3104.000000,52.0
mean,3.019498,36.000598,19.605638,15.760374,24.118814,1.0
std,0.990528,10.361604,5.368918,5.482188,5.889849,0.0
min,-1.000000,1.000000,6.800000,3.800000,10.800000,1.0
25%,3.100000,32.000000,15.800000,11.900000,19.900000,1.0
50%,3.200000,37.500000,19.250000,15.400000,23.500000,1.0
75%,3.400000,43.000000,23.000000,19.700000,27.500000,1.0
max,3.500000,48.000000,44.900000,39.200000,57.400000,1.0

In [16]:
df = df.rename(columns={"Time Period Start Date": "Start Date", "Time Period End Date": "End Date"}) 
df.head()

,Indicator,Group,State,Subgroup,Phase,Time Period,Time Period Label,Start Date,End Date,Value,Low CI,High CI,Confidence Interval,Quartile Range,Suppression Flag
0,Adults Who Had Appointment with Health Profess...,National Estimate,United States,United States,3.1,28,"Apr 14 - Apr 26, 2021",04/14/2021,04/26/2021,25.7,25.0,26.4,25.0 - 26.4,NaN,NaN
1,Adults Who Had Appointment with Health Profess...,By Age,United States,18 - 29 years,3.1,28,"Apr 14 - Apr 26, 2021",04/14/2021,04/26/2021,21.6,19.2,24.1,19.2 - 24.1,NaN,NaN
2,Adults Who Had Appointment with Health Profess...,By Age,United States,30 - 39 years,3.1,28,"Apr 14 - Apr 26, 2021",04/14/2021,04/26/2021,23.1,21.7,24.5,21.7 - 24.5,NaN,NaN
3,Adults Who Had Appointment with Health Profess...,By Age,United States,40 - 49 years,3.1,28,"Apr 14 - Apr 26, 2021",04/14/2021,04/26/2021,25.7,24.2,27.3,24.2 - 27.3,NaN,NaN
4,Adults Who Had Appointment with Health Profess...,By Age,United States,50 - 59 years,3.1,28,"Apr 14 - Apr 26, 2021",04/14/2021,04/26/2021,26.3,24.6,28.1,24.6 - 28.1,NaN,NaN

In [17]:
df.isnull().sum()

Indicator                 0
Group                     0
State                     0
Subgroup                  0
Phase                     0
Time Period               0
Time Period Label         0
Start Date                0
End Date                  0
Value                   240
Low CI                  240
High CI                 240
Confidence Interval     240
Quartile Range         1202
Suppression Flag       3292
dtype: int64

In [18]:
df = df.dropna()
df.isnull().sum()

Indicator              0
Group                  0
State                  0
Subgroup               0
Phase                  0
Time Period            0
Time Period Label      0
Start Date             0
End Date               0
Value                  0
Low CI                 0
High CI                0
Confidence Interval    0
Quartile Range         0
Suppression Flag       0
dtype: int64

A) My dataset has 3344 rows, and 15 columns. There is a combination of numeric and text columns. My initial impression is the data is initially sorted by "Indicator", where they are either labled as "Adults Who Had Appointment with Health Professional Over Video or Phone, Last 4 Weeks" or "Households With Children Where Any Child Had Appointment with Health Professional Over Video or Phone, Last 4 Weeks".

B) I renamed the "Time Period Start Date" and "Time Period End Date" columns and shortend them to just "Start Date" and "End Date". There were 5454 missing values and I corrected this by using the drop.na() function. 

C) I selected the "Value" column and then sorted by "Time Period". The output indicates that the highest value was 25.7 and the lowest was 10.7. It also shows that the time period for the survey ranged from 1 to 48 days.